EXPO_PUBLIC_API_URL=http://10.192.81.3:4000
EXPO_PUBLIC_SUPABASE_URL=https://mklxfpgzvsrtpnctdohg.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1rbHhmcGd6dnNydHBuY3Rkb2hnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIyMTA0OTEsImV4cCI6MjA5Nzc4NjQ5MX0.LGP_YsJLEbWLa9g8_QkrxgBrXJevL_UHsl94PAIYcZ8
