PORT=4000
MET_PROVIDER=auto
MET_TOKEN=
CHECKWX_TOKEN=
AVWX_TOKEN=
MET_PROVIDER_TIMEOUT_MS=3500

NOTAM_PROVIDER=simulated
NOTAM_SYNTHETIC_MODE=hybrid
NOTAM_SEED_BUCKET_HOURS=6
NOTAM_PROVIDER_TIMEOUT_MS=5000
SKYLINK_API_KEY=
SKYLINK_API_HOST=skylink-api.p.rapidapi.com
SKYLINK_API_URL=https://skylink-api.p.rapidapi.com/notams

AI_SERVICE_URL=http://localhost:8000
AI_SERVICE_TIMEOUT_MS=2500
RISK_MODEL_PATH=services/nlp/models/risk_model.json
